<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Table Topics Generator</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/scripts/main.js"></script>
  </head>
  <body>
    <header>
      <nav>
        navigation
      </nav>
    </header>
    <h1>table topics generator</h1>
    <section class="questions">
    </section>
    <footer>&copy;2020 Michael Petty</footer>
  </body>
</html>
